# Default configuration file for the sequencing report service
---

port: 9999
# db_connection_string: sqlite:///sequencing_reports.db
db_connection_string: sqlite:///miarka_processing.db
monitored_directories:
    - ./tests/resources
alembic_log_config_path: config/logger.config
alembic_scripts: ./alembic/

