# Default configuration file for the sequencing report service
---

port: 9999
db_connection_string: sqlite:///sequencing_reports.db
monitored_directories:
    - ./tests/resources
alembic_log_config_path: config/logger.config
alembic_scripts: ./alembic/
reports_dir: ./tests/resources/reports/
nextflow_log_dirs: /path/to/nextflow_log_dirs
pipeline_config_dir: ./config/pipeline_config/
